
.LandingPage{
  height: 95%;
  width: 65%;
  z-index: 2;
  /* background-size: 50px; */
  /* background-repeat: repeat;  */
  /* background: linear-gradient(90deg, var(--color-dark-1), var(--color-dark-2), var(--color-dark-3)); */
  /* background-image: url('../../assets/haxagon.avif'); */
  /* box-shadow: 0px 10px 20px var(--color-light-1);  */
  /* border-top: 2px solid var(--color-light-2);  */
  /* border-bottom: 2px solid var(--color-light-2); */
  /* border-top: 1px solid var(--color-dark-1); */
  /* border-bottom: 1px solid var(--color-dark-1); */
  border-radius: 25px;
  box-shadow: 5px 5px 100px gray;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: transparent; */
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.096);
  border: 2px solid rgba(255, 255, 255, 0.1);

 } 
 @property --rot{
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}
 
 .landingPageChild{  
  height: 97%;
  width: 97%;
  border-radius: 10px;
  /* border: 2px solid transparent; */
  border-image-source: linear-gradient(to right, var(--color-red), var(--color-black));
  border-image-slice: 1;
  position: absolute; 
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%); 
 }
 
  .hexagonP{
   height: 20vw; 
   width: 20vw;
   aspect-ratio: cos(30deg);
   clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
   /* background: linear-gradient(to right, var(--color-light-1),var(--color-light-2)); */
   /* background: linear-gradient(90deg, var(--color-dark-1), var(--color-dark-2), var(--color-dark-3));   */
   display: flex; 
   justify-content: center;  
   align-items: center;
   z-index: 3;
   transition: all 0.5s ease-in-out; 
   cursor: pointer;
   animation: 
   rotation 8s linear infinite,
   bob 2s ease-in-out infinite alternate;
 animation-delay: 7s , 1500ms;
 background: conic-gradient(from var(--rot) at 50% 50%, var(--color-dark-1) 0deg,var(--color-dark-2) 90deg, var(--color-dark-3),var(--color-dark-1) 360deg);
  }
 
  @keyframes rotation {
    from {
      --rot: 0deg;
  
    }
    to {
      --rot: 360deg;
    }
  }

 .hexagonPAminate{
  display: none;
  height: 15%;
   width: 10%;
   transition: all 0.3s ease-in-out;
 }
 
 .hexagon {
     height: 99.5%; 
     width: 99.5%; 
     aspect-ratio: cos(30deg);
     clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
     /* background: linear-gradient(90deg, var(--color-dark-1), var(--color-dark-2), var(--color-dark-3)); */
     display: flex; 
     justify-content: center;  
     align-items: center;
     transition: all 1s ease-in-out;
     /* background-image: url('../../../assets/haxagon.avif'); */
     background-image: url('../../../assets/purpleImg.jpg');
     background-size: cover;
     background-position: center;
   }

   .hexagonChild {
     height: 95%;
     width: 95%; 
     aspect-ratio: cos(30deg);
     clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
     /* background: linear-gradient(to right, var(--color-light-1), var(--color-light-2));  */
     /* background: linear-gradient(90deg, var(--color-dark-1), var(--color-dark-2), var(--color-dark-3)); */
     animation: 
     rotation 8s linear infinite,
     bob 2s ease-in-out infinite alternate;
     animation-delay: 7s , 1500ms;
     background: conic-gradient(from var(--rot) at 50% 50%, var(--color-dark-3) 0deg,var(--color-dark-1) 90deg, var(--color-dark-3),var(--color-dark-3) 360deg);
     display: flex;
     justify-content: center;
     align-items: center;
     transition: all 1s ease-in-out;
   }
 
   .hexagonGrandChild {
     height: 98%;
     width: 98%; 
     aspect-ratio: cos(30deg);
     clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
     background: linear-gradient(90deg, var(--color-dark-3), var(--color-dark-2), var(--color-dark-1));
     display: flex;
     justify-content: center;
     align-items: center;
     transition: all 1s ease-in-out;
     /* background-image: url('../../../assets/haxagon.avif'); */
     background-image: url('../../../assets/purpleImg.jpg');
     background-size: cover;
     background-position: center;
   }
 
 
   .hexagonGreatGrandChild{
     height: 80%;
     width: 90%;
     aspect-ratio: cos(30deg);
     clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
     z-index: 3; 
     display: flex;
     justify-content: center;
     align-items: center;
     transition: all 1s ease-in-out;
     text-shadow: 1px 1px 10px var(--color-light-2);
     background-size: cover;
     background-position: center;
   }

   .hexagonGreatGrandChild:hover{
     cursor: pointer;
   }
 
  .work{
  background-image: url('../../../assets/haxa-text.jpeg');
  background-size: cover;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2.8vw;
  font-weight: bolder;
  mix-blend-mode: color-burn;
}

.workText{
  transition: all 1s ease-in-out;
  cursor: pointer;
  scale: 1.1;
} 

.textLogo{
  transition: all 1s ease-in-out;
  background-image: url('../../../assets/haxa-text.jpeg');
  background-size: cover;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2.9vw;
  mix-blend-mode: color-burn;
}

 
   @media  (max-width: 900px) { 
     .LandingPage {
       width: 100%;
       display: flex;
       flex-direction: column;
     }
     .hexagonP{
      height: 40vw; 
      width: 40vw;
     }

     .work{
      font-size: 3.8vw;
     }

     /* .card{
      position: static !important;
     } */

     /* .card1{
      top: 110% !important;
      left: 50% !important;
      right: 50% !important;
      transform: translatex(-50%) !important;
     }

     .card2{
      top: 110%;
      left: 1% !important;
     }

     .card3{
      top: 110%;
      right: 1% !important;
     } */
   }

   .overlayFilter {
    /* position: absolute; */
    z-index: 9 !important;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: transparent; */ 
    /* background: rgba(255, 255, 255, 0.096);  */
    background: linear-gradient(var(--color-dark-1),var(--color-dark-2),var(--color-dark-3));
    /* background: url('https://i.pinimg.com/originals/e4/80/72/e4807255da9fc1fa2ebb5c8e036434b1.gif'); */
    background-size: 100% 100%;
    transform: rotate(360deg);
    backdrop-filter: blur(14px);
    opacity: 0.8;
  }

  .overlayFilterBlock{ 
    display: flex;
    top: -5%;
    left: 50%;
    right: 50%;
    position: absolute;
    transform: translate(-50%);
   display: block !important;  
   height: 105vh;
   width: 100vw !important; 
  }

   @media (max-width: 600px) {
     .hexagonP{
      height: 40vw; 
      width: 40vw;
     }

     .work{
      font-size: 5.8vw;
     }
   }
   @media (max-width: 451px) {
     .hexagonP{
      height: 60vw; 
      width: 60vw;
     }

     .work{
      font-size: 6.8vw;
     }
   }