
body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* background: linear-gradient(90deg, #2B2724, #1c1c1c, #53544C); */
  /* background: linear-gradient(90deg, var(--color-dark-1), var(--color-dark-2), var(--color-dark-3)); */
  background-image: url("./assets/earth.jpg");
  background-size: 100% 100%;
}